/*main*/

body {
    font-family: 'Muli', sans-serif;
    font-style: normal;
    margin: 0px;
}

.container {
    margin: auto;
}

.pagePadding {
    padding-left: 100px;
    padding-right: 100px;
}

a{
    text-decoration: none;
}

/*top head of page*/

.backgroundImage {
    background: url(../img/self-portrait.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    color: white;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    right:0;
    width: 100%;
    height: 100vh;
}

.colorOverLay {
    background-size: cover;
    overflow: auto;
    background: 
    linear-gradient(to right, 
        rgba(228, 92, 46, 1) 0%, 
        rgba(228, 92, 46, 0.9) 25%, 
        rgba(228, 92, 46, .4) 50%, 
        rgba(228, 92, 46, 0.9) 75%, 
        rgba(228, 92, 46, 1) 100%);
    -webkit-linear-gradient(left, 
        rgba(228,92,46,1) 0%,
        rgba(228,92,46,0.9) 25%,
        rgba(228,92,46,.4) 50%,
        rgba(228,92,46,0.9) 75%,
        rgba(228,92,46,1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
}

.headerContent {
    padding-top: 300px;
    padding-bottom: 200px ;
    padding-right: 350px;
    padding-left: 350px;
    text-align: center;
}

.headerContent h1 {
    font-family: "Muli", sans-serif;
    margin:0px;
    font-size: 50px;
}

.headerContent h2 {
    font-family: "Muli", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    margin:0px;
}

#omeraName{
    color:#E45C2E;
}

#omeraName:hover{
    color:white;
}

.headerViewWrkButton button {
    background: Transparent;
    color: white;
    border-radius: 5px;
    border: 3px solid white;
    font-family: "Muli";
    font-size: 15px;
    letter-spacing: 1.5px;
    padding: 12px 18px 12px 18px;
    margin-top: 17px;
    text-transform: uppercase;
    width: (100%/3);    
}

.headerViewWrkButton button:hover {
    background: #E45C2E;
    border: 4px solid #E45C2E;
}

.headerViewWrkButton i{
    color: white;
    font-size:15px;
}

.headerViewWrkButton i:hover{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*navigation*/

.navigationHeader{
    z-index: 10;
}

.main-menu {
    background-color: #E45C2E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 35px;
    height: 60px;

}

.main-menu h1 a {
    font-family: 'helvetica', sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 24px;
    text-decoration: none;
}


.main-menu a:hover{
    text-decoration: underline;
    color: #fcfcfc;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + section {
    padding-top: 60px;
}

nav {

}

nav ul{

}

nav ul li{
    list-style: none;
    display: inline-block;
    font-size: 17px;
}

nav ul li a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
        letter-spacing: 1.5px;

}



/*sections*/

section h2 {
    font-weight: bold;
    color: #E45C2E;
    text-align: center;
    font-size: 40px;

}
.subSectionTitles{
padding-top: 50px;
}

/*section{
    margin-top: 15px;
    margin-bottom: 15px;
}*/



/*about*/

.about aside {
    float: left;
    width: 150px;
}
.about aside h3{
    font-weight: normal;
}

.mainABout {
    float: right;
    width: 1000px;
    border-left: 3px solid #E45C2E;
  padding-left: 50px;
}

.whatIcanDoIcon {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}


.whatIcanDoIcon img {
    width: 150px;
    height: 150px;
    border-radius:60px;
    color:white;
    background-color: white;
    margin-right: 15px;
}

.aboutText{
    width: 500px;
    font: 13pt 'Muli', sans-serif;
    font-weight: normal;
    line-height: 20pt;
}

.about i{
    font-size: 40px;
    color: #64637C;
    margin-right: 5px;
    padding-top: 10px;
}

.portfolio {
    background-color: #fcfcfc;
    padding-bottom: 60px;
    padding-top: 10px;
}

.portContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    overflow: hidden;
}

.portContainer div {
    width: 336px;
    height: 287px;
    text-align: left;
}
.portContainer div:hover{
    color: white;
    opacity: .8;
}

.contact {
    background-color: #64637C;
    padding-bottom: 25px;
    text-align: center;
    color: white;
    margin-bottom: 0px;
}

.contact h2 {
    color: white;
}

.contact p {
    font: 16px 'Muli', sans-serif;
    letter-spacing: .5px;
    font-weight: 300;
}
.blog p{
    text-align: center;
    font: 16px 'Muli', sans-serif;
    font-weight: 300;
}

.blogContent{
    display: flex;
    justify-content: space-between;
}

/*@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

article {  
   This section calls the slideInFromLeft animation we defined above 
  animation: 1s ease-out 0s 1 slideInFromLeft;
  background: #333;
  padding: 30px;
}*/



.form-style-1 {
    margin: 10px auto;
    width: 40%;
    padding: 0px 12px 10px 20px;
}

.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;

}

.form-style-1 input[type=text],
.form-style-1 input[type=email],
textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 7px;
    margin: 0px;
    -webkit-transition: all 0.30s ease-in-out;
    font: 13px "Muli", sans-serif;
    outline: none;

}

.form-style-1 input[type=text]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus {
    box-shadow: 0 0 8px #E45C2E;
    border: 1px solid #E45C2E;
    -webkit-box-shadow: 0 0 8px #E45C2E;

}

.form-style-1 .field-divided {
    width: 100%;
}

.form-style-1 .field-long {
    width: 100%;
}

.form-style-1 .field-textarea {
    height: 100px;
}

.form-style-1 input[type=submit],
.form-style-1 input[type=button] {
    background: Transparent;
    color: white;
    border-radius: 3px;
    border: 2px solid white;
    display: block;
    font-family: "Muli";
    font-size: 16px;
    letter-spacing: 1px;
    padding: 8px 10px 8px 10px;
    text-transform: uppercase;
    width: 25%;
    margin-left: auto;
}

.form-style-1 input[type=submit]:hover,
.form-style-1 input[type=button]:hover {
    background: #E45C2E;
    border: 2px solid #E45C2E;

}

.form-style-1 .required {
    color: red;
}



footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E45C2E;
    color: white;
    font-size: 12px
    height: 50px;
    padding: 5px 35px;
 

}


.footerNav a {
    color: #fff;
    text-decoration: none;
    margin: 0px 5px;

}

.footerNav a:hover{
    text-decoration: underline;
}

footer i {
    color: white;
    font-size: 20px;
    margin-left: 5px;
}


.clear {
    clear: both;
}

.akiContainer img{
 width: 500px;
 margin: 15px;
}

.akiContainer{
     text-align: center;

}
.akipagePadding h2{
    font-size: 18px; 
    text-align: left;
    color: black;
    font-weight: 300;

}

#akifooter{
    margin-top: 25px;
}

.headerbreak{
    background-color: #64637C;
    height: 100px;


}

.akipagePadding{
    margin-top: 50px;
    padding-left: 35px;
    padding-right: 35px;
}
