body{
font-family: Lato;
font-weight: lighter;
}

.container{
 	width: 720px;
    padding: 54px;
    border-left: solid 6px #dddddd;    
	line-height: 1.5;
}

.header > * {
	font-weight: lighter;
	line-height: .5;
	

}
h1{
	color: #dd0000;
	font-size: 50px;
}

.header a{
	 text-decoration: none;
	 color: #dd0000;
}

}
.heaader h2{
	color: #000;
}

.nav a{
 color: rgb(221, 221, 221);
 font-size: 25px;
 text-decoration-line: underline;


}

a {
	margin: 5px;
}

.date {
	color: #cccccc;
	font-size: 30px;
}

.nav:hover{
	color: #000;
}

.header{

}

.footer-nav{
 text-decoration: none;
color: rgb(212,0, 25);
}

.footer-nav:hover{
 color: rgb(225, 225, 225);


}
.articles {
	margin-top: 70px;
 	color: #444444;
    font-family: Lato;
    line-height: 1;
}

.articles h1{

}

.continues{
	text-align: right;
}
.continues a{
	color: #dd0000;
	font-weight: bold;
	text-decoration: none;
}